build/example.aux build/example.log build/example.nav build/example.out build/example.pdf build/example.snm build/example.toc build/old_example.aux build/old_example.log build/old_example.nav build/old_example.out build/old_example.pdf build/old_example.snm build/old_example.toc
